:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

:root {
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.2rem;
  --s-font-size: 1rem;
  --m-font-size: 1.35rem;
  --l-font-size: 2rem;
  --xl-font-size: 2.5rem;
  --small-font-size-button: 0.6rem; }

:root {
  --header-color: hsl(50, 50%, 98%);
  --text-color: hsl(100, 100%, 100%);
  --red-bg: hsl(360, 75%, 10%);
  --blue-bg: hsl(243, 100%, 10%); }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif;
  font-size: var(--body-font-size); }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0; }

h1 {
  font-size: var(--h1-font-size); }

h2 {
  font-size: var(--h2-font-size); }

* {
  box-sizing: border-box; }

body {
  margin-top: 4.5rem; }

.container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8.1fr);
  grid-gap: 15px; }
  .container__lacanasta, .container__academia, .container__escuela, .container__museo {
    grid-column: 1 / span 6; }
    @media screen and (min-width: 64em) {
      .container__lacanasta, .container__academia, .container__escuela, .container__museo {
        background: red;
        grid-column: 2 / span 4; } }
  .container__left, .container__advertisement {
    display: none; }
    @media screen and (min-width: 64em) {
      .container__left, .container__advertisement {
        display: block;
        background: green;
        grid-column: 1;
        grid-row: 1 / span 8; } }
  @media screen and (min-width: 64em) {
    .container__advertisement {
      grid-column: 6;
      grid-row: 1 / span 8; } }

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  background: var(--header-color);
  padding: .5rem;
  position: fixed;
  top: 0;
  left: 0; }
  @media screen and (min-width: 64em) {
    .header {
      display: grid;
      grid-template-columns: 1fr .5fr 1.5fr; } }
  .header__image {
    grid-column: 2; }
    @media screen and (min-width: 64em) {
      .header__image {
        grid-column: 1; } }
    .header__image img {
      height: 3.5rem;
      display: block;
      margin: 0 auto; }
      @media screen and (min-width: 64em) {
        .header__image img {
          margin-left: 0; } }
  .header__info {
    display: none; }
    @media screen and (min-width: 64em) {
      .header__info {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        grid-column: 3;
        padding: .2em; } }
    .header__info-phone, .header__info-address, .header__info-email {
      font-size: .9rem;
      padding: .5em;
      margin: .2em; }

.icon {
  width: 20px;
  display: inline-block; }

.banner {
  position: relative;
  background: black;
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  @media screen and (min-width: 64em) {
    .banner {
      height: 500px; } }
  .banner__image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .banner__image img {
      display: block;
      position: absolute;
      width: 100%;
      height: 80%;
      position: absolute; }
  .banner__title {
    position: relative;
    grid-column: 2/ span 4;
    grid-row: 3; }
    .banner__title h1 {
      font-size: var(--h3-font-size);
      text-align: center;
      color: var(--text-color); }
      @media screen and (min-width: 64em) {
        .banner__title h1 {
          font-size: var(--h1-font-size); } }

.banner__button {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  grid-column: 2/ span 3;
  grid-row: 1;
  padding-bottom: 1em; }
  @media screen and (min-width: 64em) {
    .banner__button {
      padding-bottom: 0; } }
  .banner__button a {
    color: var(--text-color);
    background: #ff8000;
    display: block;
    text-align: center;
    text-transform: uppercase;
    border-radius: .8rem;
    font-size: var(--small-font-size-button);
    line-height: 3em;
    padding: 0 2em; }
    @media screen and (min-width: 64em) {
      .banner__button a {
        font-size: .9em; } }
    .banner__button a:hover {
      background: #d66c00; }
    .banner__button a:active {
      transform: scale(1.2); }

.container {
  width: 100%; }
  .container__lacanasta, .container__academia {
    background: var(--blue-bg);
    border-top: 15px solid #262673;
    border-bottom: 15px solid #262673;
    position: relative; }
  .container__escuela, .container__museo {
    background: var(--red-bg);
    border-top: 15px solid #660000;
    border-bottom: 15px solid #660000;
    position: relative; }
  .container__lacanasta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/kids-playing.jpg") center/cover;
    opacity: 0.15; }
  .container__escuela:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/coaching.jpg") center/cover;
    opacity: 0.15; }
  .container__academia:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/kids-workingout.jpg") center/cover;
    opacity: 0.15; }
  .container__museo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/james-naismith-statue.jpg") center/cover;
    opacity: 0.15; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2em; }
  .card__title {
    font-size: calc(var(--h1-font-size) * 1.5);
    text-transform: uppercase;
    margin: 0;
    padding: 0; }
  .card__subtitle {
    font-size: var(--h4-font-size);
    margin: 0;
    padding: 0;
    letter-spacing: 0.6em;
    font-style: italic; }
  .card__description {
    width: 70%;
    text-align: center;
    padding: 0.8em; }
  .card__nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em 0.5em; }
    @media screen and (min-width: l) {
      .card__nav {
        width: 60%; } }

.card__nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em 0.5em; }
  @media screen and (min-width: l) {
    .card__nav {
      width: 60%; } }

.button {
  background-image: linear-gradient(#737373 50%, #595959 50%);
  border-top: 7px solid #666666;
  border-bottom: 7px solid #404040;
  border-left: 7px solid #595959;
  border-right: 7px solid #404040;
  margin: 0.5em 0.2em;
  padding: 0.5em 0.9em;
  border-radius: 0.3em;
  font-size: 0.8em;
  text-align: center;
  color: var(--text-color); }
  .button:hover {
    background-image: linear-gradient(#5c5c5c 50%, #424242 50%); }
  .button:active {
    transform: scale(0.95); }
  @media screen and (min-width: 40em) {
    .button {
      font-size: var(--m-font-size); } }
  @media screen and (min-width: 64em) {
    .button {
      padding: 0.7em 2.5em; } }
