.banner {
     position: relative;
     background: black;
     width: 100%;
     height: 400px;

     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: repeat(3, 1fr);

     @include from(lg) {
          height: 500px;
     }


     &__image {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          & img {
               display: block;
               position: absolute;
               width: 100%;
               height: 80%;
               position: absolute;
          }
     }

     &__title {
          position: relative;
          grid-column: 2/ span 4;
          grid-row: 3;

          & h1 {
               font-size: var(--h3-font-size);
               text-align: center;
               color: var(--text-color);

               @include from(lg) {
                    font-size: var(--h1-font-size);
               }
          }
     }
}