* {
     box-sizing: border-box;
}

body {
     margin-top: $header-height;
     background: black;
}

.container {
     margin-top: 3em;
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: repeat(8.1fr);
     grid-gap: 15px;

     @include from(lg) {
          grid-template-columns: repeat(12, 1fr);
          grid-template-rows: repeat(4.1fr);
          grid-gap: 15px;
     }



     &__lacanasta,
     &__academia,
     &__escuela,
     &__museo {
          grid-column: 1 / span 6;


          @include from(lg) {
               grid-column: 4 / span 6;

          }
     }


     &__left,
     &__advertisement {
          display: none;

          @include from(lg) {
               display: block;
               background-color: lightslategrey;
               grid-column: 1 / span 3;
               grid-row: 1 / span 4;

               margin: 0 15px;
          }
     }

     &__advertisement {

          @include from(lg) {
               grid-column: 10 / span 3;
               grid-row: 1 / span 4;
          }
     }
}